<div class="mt-10 text-center">
    <p>Made with love by <a href="<%= url %>" class="card-link">let'sdoretro.com</a></p>
    <div>
        <bold>Dubai, United Arab Emirates</bold>
        <span>405, 4th Floor, Tulip Hotel Apartments</span>
    </div>
</div>