<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./head'); %>
    <script></script>
    <style type="text/css">
        .mail-body-container {
            background: #eef5ff;
            padding: 25px 0 25px 0;
            margin: 10px 0;
            border-radius: 6px;
        }

        .text-center {
            text-align: center;
        }

        .content {
            min-width: 480px;
            width: 100%;
        }

        center {
            display: block;
            text-align: -webkit-center;
        }

        .content-table {
            border-spacing: 0;
            font-family: gt-eesti, ArialMT, Helvetica, Arial, sans-serif;
            margin: 0 auto;
            padding: 0px 40px 40px 40px;
            width: 100%;
            max-width: 500px;
            background: #fefefe;
        }

        .primary-button {
            background: linear-gradient(180deg, #7997ff 0, #57f 100%);
            border-radius: 4px;
            color: #fff !important;
            display: inline-block;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.43;
            margin: 0;
            outline: 0;
            padding: 13px 0 13px 0;
            text-align: center;
            text-decoration: none;
            width: 100%;
        }
    </style>
</head>

<body>
    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="mail-body-container">
        <tbody>
            <tr>
                <td width="100%">
                    <div class="content">
                        <table align="center" cellpadding="0" cellspacing="0" class="content-table">
                            <tbody>
                                <!-- <tr>
                                    <td>
                                        <table style="margin-bottom:20px;width:100%" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a href="http://8link.in/?ref=mail"
                                                            style="font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;color:#172B4D;"
                                                            target="_blank">
                                                            <img src="http://8link.in/assets/mail/logo.png"
                                                                style="display:block" alt="8link" width="200"
                                                                height="65" />
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr> -->
                                <tr style="line-height:2px">
                                    <td>
                                        <%- include('./header'); %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="margin-bottom:20px;width:100%;margin-top:20px;" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table style="width:100%;margin-bottom:20px" width="100%"
                                                            cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding-bottom:16px;">
                                                                        <b style="font-size:24px;">
                                                                            Let’s organize all your product
                                                                            development team's restrospectives
                                                                        </b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding-bottom:12px;">
                                                                        <span
                                                                            style="font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size:16px;">
                                                                            Nice to meet you, </span>
                                                                        <b
                                                                            style="font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size:16px;">
                                                                            <%= name %>!
                                                                        </b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding-bottom:12px;">
                                                                        <span
                                                                            style="font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size:16px;">
                                                                            With letsdoretro.​com, you can run
                                                                            retrospectives with your teams
                                                                            differently and its very well organized.
                                                                            Everyone can express reactions on retro
                                                                            board.</span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table
                                                            style="background-color:#fff;margin-bottom:20px;table-layout:fixed;width:100%"
                                                            width="" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td width>
                                                                        <a class="primary-button"
                                                                            href="<%- login_link %>" target="_blank">
                                                                            Login Now
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:justify;">
                                        <table style="margin-bottom:20px;width:100%" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table style="width:100%;margin-bottom:20px" width="100%"
                                                            cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <span
                                                                            style="font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size:14px;">If
                                                                            you didn't create this account, just delete
                                                                            this email.
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:justify;">
                                        <table style="width:100%" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table style="width:100%;" width="100%" cellpadding="0"
                                                            cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <span
                                                                            style="font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size:16px;">Happy
                                                                            collaborating,
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span
                                                                            style="font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size:16px;">
                                                                            The letsdoretro Team
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>